html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%; }

.nav, .header, .background-image .footer {
  border: 1px solid #000; }

label {
  font-weight: normal; }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
  color: #FFF;
  background-color: #333333; }

.footers {
  height: 7%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #333333;
  border: 1px solid black;
  z-index: 2;
  margin-top: 38.8%; }

.footers {
  height: 7%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #333333;
  border: 1px solid black;
  z-index: 2;
  margin-top: 38.8%; }

.inputs {
  -webkit-align-items: center;
  border-radius: 13px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 390px;
  margin-left: calc(50% - (390px/2));
  margin-top: 7%;
  padding: 0; }

.inputs-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 12px; }

.input {
  color: #000;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  padding-bottom: 0;
  padding-left: 5px;
  font-size: 15px; }

.input-label {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  height: 40px; }

.buttons {
  margin-left: calc(100% - (170px*2) - 31px);
  padding-bottom: 20px;
  padding-top: 0;
  margin-top: 0; }

.sign-skip-button {
  border: 1px solid #000;
  width: 170px;
  height: 50px;
  background: #333333;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 6px; }

#create-button {
  margin-left: 10px; }

.sign-skip-button a {
  color: #FFF; }

.sign-skip-button:hover {
  background-color: #111111;
  color: #FFF; }

.sign-skip-button a:hover {
  text-decoration: none; }
