@media (min-width: 550px) and (max-width: 1000px) {
  .main-content {
    width: 80%;
    margin-left: 10%; } }

@media (min-width: 450px) and (max-width: 550px) {
  .main-content {
    width: calc(100% - 30px);
    margin-left: 15px; }
  .center-block {
    font-size: 31px; }
  .create-meetup {
    height: 90px; } }

@media (max-width: 450px) {
  .main-content {
    width: calc(100% - 16px);
    margin-left: 8px;
    margin-bottom: 60px; }
  .center-block {
    font-size: 24px; }
  .create-meetup {
    height: 70px; }
  .label-date {
    width: 100%; }
  .label-time {
    margin-left: 0;
    width: 49%; }
  #end-time {
    margin-left: 2%; } }

@media (max-width: 350px) {
  .main-content {
    width: 100%;
    margin: 10px 0 52px 0; } }
