// Omnipotent styling
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
};

.nav, .header, .background-image .footer {
	border: 1px solid black;
};

label {
	font-weight: normal;
}

// Background image
.background-image {
	display: flex;
	flex-wrap: wrap;
	z-index: 0;
	position: fixed;
};

// Nav bar at top
.header {
	position: absolute;
	margin-left: 8%;
	margin-top: 24.93%;
	transform: rotate(-.98deg);
	z-index: 1;
	color: #FFF;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333
};


.nav li a {
	padding: none;
	color: #FFF;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	text-decoration: none;
};

.start-meetup {
	float: left;
	padding: 22px 35px 24px 35px;
	font-size: 17px;
};

.login {
	float: right;
	margin: 25px 10px 1px 0px;
	padding: 8px;
	font-size: 15px;
};

.nav-label-name {
	margin-right: 2px;
};

.nav-label {
	color: #FFF;
	padding: 10px;
	margin: 0;
	float: right;
};

.nav-label input {
	color: #000;
	padding-left: 5px;
	font-size: 14.5px;
};

.nav li:hover {
	background-color: #111111;
	text-decoration: none;
};

.nav li a:hover {
	text-decoration: none;
	color: #FFF;
};

// Footer bar at bottom
.footers {
	height: 7%;
	display: flex;
	flex-wrap: wrap;
	background: #333333;
	border: 1px solid black;
	z-index: 2;
	margin-top: 38.8%;
};

// Sign up box
.sign-up {
	border-radius: 13px;
	z-index: 5;
	position: absolute;
	margin-top: 6.5%;
	margin-left: 63%;
	padding: 10px;
};

.sign-up-title {
	margin: 0px 0px 10px 0px;
};

.sign-input {
	width: 350px;
	height: 46px;
	margin: 5px;
	border-radius: 6px;
};

.sign-up input {
	padding-left: 8px;
	font-size: 16px;
};

.sign-up input::-webkit-input-placeholder {
	font-size: 16px;
};

#password2 {
	margin-bottom: 18px;
};

.sign-up-button {
	border: 1px solid black;
	padding: 18px 0 18px 0;
	background: #333333;
	color: #FFF;
	border-radius: 10px;
	font-size: 18px;
	margin-left: 5px;
	width: 349px;
};

.sign-up-button:hover {
	background-color: #111111;
	text-decoration: none;
	text-decoration: none;
	color: #FFF;
};