@media (max-width: 900px) {
	.sign-up {
		float: left;
		margin-left: calc(50% - (360px/2));
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 700px) {
	.start-meetup {
		display: none;
	}
	#nav-label-password {
		margin-right: calc(95.5% - 94.36px - 412px);
	}
	#nav-label-email {
		margin-left: 10px;
	}
	.login {
		margin-top: 0;
		margin-right: 0;
		padding: 26px;
	}
}

@media (max-width: 530px) {
	#nav-label-email {
		width: calc(100% - 150px);
		margin-left: 0;
		padding-bottom: 0;
	}
	#nav-label-password {
		width: calc(100% - 150px);
		padding-right: 0;
		margin-right: 0;
	}
	.nav-label input::placeholder {
		font-size: 14.5px;
	}
	.nav-label-email {
		display: none;
	}
	.nav-label-password {
		display: none;
		padding-right: 0;
		margin-right: 0;
	}
	.nav-line-break {
		display: none;
	}
	.login {
		padding: 30px 26px;
	}
}

@media (max-width: 430px) {
	.sign-input {
		width: 280px;
		margin-left: calc(50% - 105px);
	}
	#sign-up-button {
		width: 280px;
		margin-left: calc(50% - 105px);
	}
	body{
	    background-position: 44% -7px;
	}
}