// Omnipotent styling
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
}

.nav, .header, .background-image .footer {
	border: 1px solid black;
}

label {
	font-weight: normal;
}

// Nav bar at top
.nav {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
	color: #FFF;
	background-color: #333333;
}

.my-meetup-text {
	display: flex;
	-webkit-align-items: center;
	margin-top: 9px;
}

// Footer bar at bottom
.footers {
	height: 7%;
	display: flex;
	flex-wrap: wrap;
	background: #333333;
	border: 1px solid #FFF;
	z-index: 2;
	margin-top: 38.8%;
}

// Footer bar at bottom
.footers {
	height: 7%;
	display: flex;
	flex-wrap: wrap;
	background: #333333;
	border: 1px solid #FFF;
	z-index: 2;
	margin-top: 38.8%;
}

// Main content
.main-content {
	margin-top: 17px;
	margin-left: 4%;
	margin-right: 4%;
}

// My meetups section

// Create meetup button
.create-meetup {
	display: flex;
	flex-wrap: wrap;
	width: 250px;
	height: 50px;
	margin-bottom: 15px;
	padding: 13px 0 12px 63px;
	border: 1px solid #d7d7d7;
	border-radius: 10px;
	background-color: #fff;
	font-size: 15px;
	color: #000;
}
// Create meeup button on hover
.create-meetup:hover {
	background-color: #f1f1f1;
	text-decoration: none;
	color: #000;
}
// Meetup list margin and padding set
ul.meetup-list {
	padding: 0;
	margin: 0;
}

.meetup {
	list-style-type: none;
}

.event-info {
	padding: 15px 15px 5px 15px;
	margin-bottom: 10px;
	background-color: #fff;
}

.event-time {
	padding-left: 0;
}

.event-date {
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
}

.event-info {
	border: 1px solid #d7d7d7;
	display: flex;
	flex-wrap: wrap;
}